body{
    background-image: url("https://wwwimage-us.pplusstatic.com/thumbnails/photos/w1440-q80/cbs_page_attribute/30/00/4/image_ee16cb5d-6d4c-4fc9-b05f-2480759acb0e.jpg");
    background-size: cover;
}
.Forms{
color: aquamarine;

width: 700px;
height: 500px;
margin: auto;
margin-top: 200px;

}